<div id="dashboard">

	<div class="logo-1">
    <%= image_tag("logo.png") %> 
  </div>

	<h1>Bienvenue !</h1> </br> </br> </br> </br>

	<div class="defi">
		<%= button_to 'Lancer un Défi', search_path, method: :get %>
	</div>

	<div class="defi">
		<%= button_to 'Mes Défis', defis_path, method: :get %>
	</div>
</div>	