/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.font
{
	font-size: 4.5rem;
}

.container
{
	margin-top: 65%;
	margin-left: 50px;
	text-align: center;
}

.description {
	margin-top: 65%;
	font-size: 6rem;
}

.choix {
	display: inline-block;
	margin-top: 30%;
	
	height: 100px;
}

#search
{
	text-align: center;
	font-size: 4.5rem;
}

#dashboard
{
	font-size: 8rem;
	text-align: center;
}

#mes-defis
{
	font-size: 6rem;
	text-align: center;
}

.logo-1
{
	margin-right: 2%;
}

.nickname
{
	font: italic bold 1.5em Georgia, serif;
}

.nelson
{
	margin-top: 20%;
	margin-left: 15%;
}

.quote
{
	font-size: 15rem;
	font-weight: bold;
	text-align: center;
}

@media screen and (max-width: 1040px)
{
 h1{
 text-align: center;
 font-size: 70px;
 font-family:URW Chancery L;
 color: violet;
 } 
 
 .bouton1
 {
 text-align: center;
 color: violet;
 margin: 30px;
 font-size: 20px;
 }

 .bouton2
 {
 text-align: center;
 color: violet;
 margin: 30px;
 font-size: 20px;
 }  
 

.navbar
{
	border-radius: 0 0 35px 35px;
	background: violet;
	color: white;
	border: 2px solid violet;
}

.navbar-default .navbar-nav > li > a
{
	color: white;
}

.navbar-default .navbar-nav > .open > a
{
	background: purple;
	color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
{
	background:linear-gradient(to right, violet, purple);
	color: white;
}

.navbar-nav > li > .dropdown-menu
{
	background:linear-gradient(to right, violet, purple);
	color: white;
}

.defi {
	color: violet;
}
.licorn{
	text-align: center;
}
}
